= render "layouts/sub-header"
.container-buy
  .buy
    .buy__heading
      購入を確定しますか？
    .buy__item
      .buy__item-inner
        .buy__item--image
          .buy__item--image-img
            = image_tag @image
        .buy__item--name
          テストアイテム
        = form_for :statuses, url: {controller: "statuses", action: "pay"}, html: {class: "buy__item--form"} do |f|
          .buy__item--form-price
            = "¥ #{@item.price.to_s(:delimited)}-"
            %span 送料込み
          .buy__item--form-accordion
            ポイントはありません
          .buy__item--form-pay
            .buy__item--form-pay-header
              支払い金額
            .buy__item--form-pay-price
              = "¥ #{@item.price.to_s(:delimited)}-"
          - if current_user.cards.present?
          - else
            .buy__item--form-error
              配送先と支払い方法の入力を完了してください。
          = f.number_field :amount, type: "hidden", value: @item.price
          = f.number_field :stage, type: "hidden", value: 1
          = f.number_field :item_id, type: "hidden", value: @item.id
          = f.number_field :buyer_id, type: "hidden", value: current_user.id
          - if current_user.cards.present?
            = f.submit "購入する", class: "buy__item--form-submit red"
          - else
            .buy__item--form-submit#gray
              購入する
    .buy__user-info
      .buy__user-info-inner
        .buy__user-info--header
          配送先
        %address.buy__user-info--text
          大阪府大阪市○○○○○○○○○○○
        = link_to root_path, class: "buy__user-info--fix" do
          %span
            変更する
          %i.fa.fa-angle-right
    .buy__user-info
      .buy__user-info-inner
        .buy__user-info--header
          支払い方法
        %p.buy__user-info--text
        - if current_user.cards.present?
          .card_number
            =  "**** **** **** " + @default_card_information.last4
          .card_limit
            有効期限
            = "#{@exp_month}/#{@exp_year}"
        - else
          = "/"
        = link_to new_mypage_card_path(current_user.id, current_user.id), class: "buy__user-info--fix" do
          %span
            変更する
          %i.fa.fa-angle-right
= render "layouts/sub-footer"
