= render "shared/header"
= render "mypages/bread-crumbs"
.l-container.clearfix
  %section.card-box
    %h2.card-box__header
      クレジットカード情報入力
    .card-box__new
      = form_for :cards, url: {action: "create_card"}, html: { method: :post, class: "card-box__new-form", id: "charge-form"} do |f|
        = f.label :number, "カード情報", class: "card-box__new-form--label" do
          カード情報
          %span.card-box__new-form-label-must
            必須
        = f.text_field :number, type: "text", class: "card-box__new-form--number", maxlength: "16", placeholder: "半角数字のみ"
        %ul
          %li
            = image_tag "cards/visa.svg"
          %li
            = image_tag "cards/master-card.svg"
          %li
            = image_tag "cards/saison-card.svg"
          %li
            = image_tag "cards/jcb.svg"
          %li
            = image_tag "cards/american_express.svg"
          %li
            = image_tag "cards/dinersclub.svg"
          %li
            = image_tag "cards/discover.svg"
        = f.label :exp, class: "card-box__new-form--label" do
          有効期限
          %span.card-box__new-form-label-must
            必須
        = f.select :exp_month, [["01"],["02"],["03"],["04"],["05"],["06"],["07"],["08"],["09"],["10"],["11"],["12"]], class: "exp_month"
        %span
          月
        = f.select :exp_year, [["2019"],["2020"],["2021"],["2022"],["2023"],["2024"],["2025"],["2026"],["2027"],["2028"],["2029"]], class: "exp_year"
        %span
          年
        = f.label :cvc, class: "card-box__new-form--label" do
          キュリティコード
          %span.card-box__new-form-label-must
            必須
        = f.text_field :cvc, type: "text", class: "card-box__new-form--cvc", maxlength: "4",placeholder: "カード背面の4桁もしくは3桁の番号"
        #card_token
        = f.submit "追加する",type: "submit", id: "token_submit" ,class: "card-box__new-form--submit"
  = render "mypages/side-bar"
= render "shared/footer"