= render "shared/header"
= render "mypages/bread-crumbs"
.l-container.clearfix
  %section.card-box
    %h2.card-box__header
      支払い方法
    .card-box__show
      .card-box__show-form
        %label.card-box__show-form--label クレジットカード一覧
        .card-box__show-form--list
          .card-box__show-form--list-number
            = "**** **** **** " + @default_card_information.last4
          .card-box__show-form--list-limit
            = "#{@exp_month}/#{@exp_year}"
        = form_for :cards, url: {action: "destroy"}, html: {method: :delete} do |f|
          = f.hidden_field :card_id, value: ""
          = f.submit "削除する"
  = render "mypages/side-bar"
= render "shared/footer"
