= render 'shared/header'
%main
  .images-part
    %ul.slider
      %li
        = link_to root_path do
          = image_tag "slide-image/banner-new-life.jpg"
      %li.slider__background
        .image-container
          .top-app-download
            %h2
              スマホでかんたん
              %br
              フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br
              購入時も安心な独自システムのアプリです
            .app-img-part.clearfix
              = link_to root_path do
                = image_tag "slide-image/app-store.svg", width: "170", height: "50"
              = link_to root_path do
                = image_tag "slide-image/google-play.svg", width: "170", height: "50"
          = image_tag "slide-image/main_content_pc.png"
      %li
        = link_to root_path do
          = image_tag "slide-image/banner-bokurano-heisei.jpg"
  .pickup-part
    %h2 ピックアップカテゴリー
    .inner
      .products-container
        %h3
          = link_to "レディース 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_ladies
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
      .products-container
        %h3
          = link_to "メンズ 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_mans
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
      .products-container
        %h3
          = link_to "ベイビー・キッズ 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_kids
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
      .products-container
        %h3
          = link_to "インテリア・住まい・小物 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_interiors
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
  .pickup-part
    %h2 ピックアップブランド
    .inner
      .products-container
        %h3
          = link_to "本・音楽・ゲーム 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_books
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
      .products-container
        %h3
          = link_to "おもちゃ・ホビー・グッズ 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_toys
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
      .products-container
        %h3
          = link_to "コスメ・香水・美容 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_perfumes
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
      .products-container
        %h3
          = link_to "家電・スマホ・カメラ 新着アイテム", root_path
        .flexbox
          = render partial: 'product', collection: @products_appliances
        = link_to "すべての商品をみる", root_path, class: "to-all-products"
= render 'shared/footer'
